
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&subset=latin-ext');
/*font-family: 'Julius Sans One', sans-serif;*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset.css ends */

/* page.css */
body{
  position: relative;
  color:  #666666
}
h3{
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: justify;
  line-height: 20px;
   font-family: 'Julius Sans One', sans-serif;
}
a{text-decoration: none;}
.content-wrapper{
  width: 100%;
  float: left;
}
.upper-line{
height: 8px;
border:1px solid #0c5752;
background-color: #0c5752;;
}
.summary a{
color: lightgrey;
text-transform: uppercase;
}
.design-selection nav{
  margin-top: -140px;
  margin
}
.design-selection{
  margin-top: 20px;
  padding-top: 48px;
  padding-bottom: 70px;
}
.design-name{
 font-family: 'Julius Sans One', sans-serif;
}
.designer-name{
  text-transform:capitalize;
}
.design-archives{
  padding-top: 26px;
}
.design-selection nav{
  padding-top: 200px;
}
.zen-resources{
  font-family: 'Julius Sans One', sans-serif;
}
.design-selection,
.design-archives,
.zen-resources
{
  margin-top:50px;
padding-left: 70px;
}
aside a{
  text-transform: uppercase;
  color: darkgrey;
  text-decoration: none;
}
.design-archives a,
.zen-resources a{
 border-bottom: 1px solid grey;
}
.design-archives a,
.zen-resources a{
padding-bottom: 17px;
}
@media screen and (max-width: 640px)
{
 h3{
  padding-top: 20px;
  font-size: 25px;
  text-align: left;
 }
}
@media screen and (max-width: 1024px)
{
 h3{
  padding-top: 20px;
  font-size: 25px;
  text-align: left;
  line-height: 20px;
 }
 .design-selection,
.design-archives,
.zen-resources
{
  font-size: 15px;
padding-left: 40px;
}
.design-archives a,
.zen-resources a{
padding-bottom: 15px;
}
}
/*=========================================*/
/* header.css */
header{
   font-family: 'Julius Sans One', sans-serif;
  height: 200px;
  clear: both;
  background-image: url("../images/huntington.jpg");
  background-size: cover;
  color: #D0D3D4;
}
header h1{
  font-size: 60px;
  margin-left: 240px;
}
header h2{
  font-style: italic;
  font-family:serif;
  font-size: 30px;
  margin-left: 240px;
}
@media screen and (max-width: 640px)
{
header h1{
  margin-left: 130px;
  font-size: 45px;
}
header h2{
  font-size: 18px;
  margin-left: 130px;
}
img{
margin-left: -75px;
}
.right-arrow {
    width: 44px;
    height: 60px;
    margin-left: 220px;
    margin-top: -62px;
}
}
@media screen and (max-width: 1024px)
{
header h1{
  margin-left: 130px;
  font-size: 45px;
}
header h2{
  font-size: 18px;
  margin-left: 140px;
}
img{
margin-left: -75px;
}
.right-arrow {
    width: 44px;
    height: 60px;
    margin-left: 220px;
    margin-top: -62px;
}
}
@media screen and (max-width: 320px)
{

header h1{
  font-size:38px;
}
}
/*=================================*/
/* Logo */
.logo
{
   height: 50px;
   width: 50px;
  background-repeat: no-repeat;
  background:5px solid blue;
  margin-left: 80px;
}
img
{
  height: 120px;
   width: 120px;
   position: absolute;
   top: 30px;
}

/*=================================*/
.main-supporting
{
width: 60%;
float: left;
font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
  text-align: justify;
 margin-left: 80px;

}
.participation{
  padding-top: 20px;
   background: url("../images/bamboo.png");
   background-color: #b7d8cc;
   clear: both;
}
.participation p, .participation h3{
  padding-right: 37%;
  line-height: 20px;
  padding-left: 5.5%;
}
.explanation,
.participation
{
padding-bottom:50px;
}
.participation {
  width: 100%;
}
.benefits
{
background: url("../images/bamboo.png");
background-color: #b7d8cc;
width: 100%;
float: left;
font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
  text-align: justify;
 margin-top:0px;
 padding-bottom: 30px;
}
.benefits p, .benefits h3{
 padding-right: 38%;
 padding-left: 5.5%;
}
.requirements{
width: 60%;
float: left;
font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
  text-align: justify;
 margin-left: 80px;
}
.summary,
.preamble
{
width: 60%;
float: left;
font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
  text-align: justify;
 margin-left: 80px;

}
@media screen and (max-width: 1024px)
{
.summary,
.preamble,
.main-supporting
{
width: 65%;
margin-bottom: 0px;
}
.benefits{
width: 100%;
}
.requirements{
width: 65%;

margin-bottom: 280px;
}
}
@media screen and (max-width: 640px)
{
p {
  padding-left:5.5%;
  padding-right: 5.5%;
}
.summary,
.preamble,
.main-supporting
{
  margin-left:0px;
width: 100%;
margin-bottom: 0px;
}
.benefits{
width: 100%;
line-height: 20px;
}

.benefits p, .participation p{
  padding-right: 5.5%;
}
.requirements{
width: 100%;
margin-bottom: 210px;
margin-left: 0px;
}
.benefits h3, .participation h3{
  margin-left: 0px;
}
h3{
  margin-left: 5.5%;
}
}
@media screen and (min-width:641px) and (max-width: 1024px)
{
  .participation p, .participation h3{
  padding-left: 8%;
  padding-right: 27%;
}
.benefits p, .benefits h3{
 padding-left: 8%;
   padding-right: 27%;
}
}
/*Footer Properties*/
footer {
  clear: both;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  height: 210px;
  color: #D0D3D4;
  font-family: 'Pontano Sans', sans-serif;

}
footer p
{
  text-align: center;
  padding-top: 40px;
  font-size: 23px;
  color: #a6a6a6;
  line-height: 50px;
  font-style: italic;
  font-family:serif;
}
footer p a
{
  font-style: normal;
  color:#cccccc;
  text-decoration:none;
}
.footerbar{
  background:#003333;
  opacity: 0.85;
  height: 170px;
}
.select{
  background: url("../images/bamboo.png");
  width: 170px;
  height: 20px;
  border:1px solid #54a095;
  font-size: 14px;
  text-align: center;
  line-height: 50px;

  background-color:#54a095;
  color:#a5b5b5;
}
.right-arrow{
  background: url();
  background: url("../images/right-arrow.png");
  background-size:cover;
  width: 30px;
  height: 40px;
  border:1px solid #54a095 ;
  text-align: center;
  background-color:#54a095;
  color:#a5b5b5;
  margin-left: 173px;
  margin-top: -42px;

}
#cirlce{
  padding:10px;
  text-align: center;
  width: 50px;
  height: 50px;
  border:1px solid #a3c2c2;
  border-radius: 50px;
  margin-right: 2px;
}
 .footerbar li{
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  padding-right: 70px;
}
.footerbar ul{
  margin-left:280px;

}
  @media screen and (min-width:321px) and  (max-width: 1023px){
  .footerbar{
  height: 210px;
}
.footerbar ul{
  margin-left:100px;
}
.footerbar li{
  font-size: 8px;
  padding-right: 37px;
  }
  #cirlce{
  height: 22px;
  width: 22px;
}

}
@media screen and  (max-width: 1024px){
  .footerbar{
  height: 210px;
}
.footerbar ul{
  margin-left:170px;

}
.right-arrow{
   width: 44px;
    height: 60px;
    margin-left: 202px;
    margin-top: -62px;
}
  }

@media screen and (max-width: 640px){
footer{
  height: 280px;
  width: 100%;
  margin:0px auto;
}
footer p
{
font-size: 18px;
}
.footerbar{
  padding-top: 0px;
  padding-left: 20px;
  height: 140px;
}
#cirlce{
  height: 25px;
  width: 25px;
margin-right: 0px;
}
.footerbar ul{
  margin-left:10px;
}
.footerbar li{
font-size: 9px;
margin-right: 14px;
margin-top:12px;
padding-right:0px;
}
}
@media screen and (max-width: 320px){
.footerbar ul{
  margin-left:0px;
}
.footerbar li{
font-size: 7px;
margin-top:15px;
margin-right: 0px;
padding-right:12px;
}
#cirlce{
  height: 20px;
  width: 20px;
margin-right: 0px;
}
.right-arrow{
   width: 44px;
    height: 60px;
    margin-left: 217px;
    margin-top: -62px;
}
}
@media screen and (min-width: 641px) and (max-width:1023px){
   .footer ul{
    margin-left: 120px;
   }
  .footer li
  {
    padding-right: 28px;
  }
  }
/*===============================*/
/* Sidebar CSS */
aside{
  background-color: rgba(190, 243, 214, 0.3);
  width: 25%;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom:380px;
}
/*aside ul{
  padding-top: 200px;
}*/
aside ul li{
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
}

@media screen and (max-width: 1024px){
.select{
  width: 200px;`
  border:1px solid #e6ffe6;
  font-size: 20px;
  text-align: center;
  line-height: 10px;
  border:1px solid black;
  color: black;
}
aside{
  width:100%;
position: initial;

}
}
@media screen and (max-width: 640px){
aside{
  width:100%;
  height: 1200px;
}
.nav-shadow{
  height: 480px;
  }
  .select{
  border:1px solid black;
  color: black;
  font-size: 20px;
  width: 200px;
  }
}
 @media screen and (min-width:321px) and  (max-width: 640px){
  .right-arrow{
   width: 44px;
    height: 60px;
    margin-left: 224px;
    margin-top: -62px;
}
  }
/*=================================*/
